* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  width:1100px;
  height: 70px;
  background: #faf7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.Header__qidiruv {
  width: 340px;
  height: 42px;
  background: #f8f4eb;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.Header__icon {
  font-size: 18px;
  color: #b6a99a;
}

.Header__input {
  flex: 1;
  border: none;
  background: transparent;
  margin-left: 10px;
  color: #777;
}

.Header__Profil {
  display: flex;
  align-items: center;
  gap: 18px;
}

.Header__q {
  font-size: 20px;
  color: #6f564b;
}

.Header__chiziq {
  width: 1px;
  height: 35px;
  background: #ddd;
}

.Header__info {
  text-align: right;
}

.Header__title {
  font-size: 18px;
  color: #333;
}

.Header__title2 {
  font-size: 12px;
  color: #999;
}

.Header__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}